# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
tierlistmaker-backend/functions/lib/
tierlistmaker-backend/functions/node_modules/
tierlistmaker-backend/functions/src/public/
tierlistmaker-backend/functions/src/keys/
tierlistmaker-backend/functions/src/dynamic-meta-public/

*.local
package-lock.json


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

utility-scripts
/tierlistmaker-backend/functions/src/keys/
